*{
  margin: 0;
  padding: 0;
}
section{
  display: inline-flex;
  width: 100%;
  height: 100vh;

  align-items: center;
  justify-content: center;
}
.slider{
  position: relative;
  display: inline-flex;
  width: 600px;
  height: 390px;
  box-sizing: border-box;
  border: 5px solid rgba(230,230,230,0.7);
  align-items: center;
  overflow: hidden;

  padding: 0 1px;
}
.slider .img{
  display: inline-block;
  height: 270px;
  width: 480px;
  border: 5px solid rgba(230,230,230,0.7);
  flex: 0 0 auto;
  margin: 0 60px;
}
.slider:last-child::after,.slider:first-child::before{
  content: "";
  display: inline-block;
  height: 100%;
  width: 1px;
  flex: 0 0 auto;
}
.slider .img:first-child{
  animation: animate 20s infinite linear;

}
@keyframes animate {
  0%,21%{
    margin-left: 60px;
  }
  26%,50%{
    margin-left: -560px;
  }
  55%,72%{
    margin-left: -1170px;
  }
  77%,90%{
    margin-left: -1780px;
  }

}

img{
  object-fit: contain;
  width: 100%;
  height: 100%;
}


/* 16:9 */
