<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>まずはデータを表示</title>
</head>

<body>
  <div id="app">
    <p><button v-on:click="show=!show">切り替え</button></p>
    <transition>
      <div v-show="show">
        トランジションさせたい要素
      </div>
    </transition>
  </div>

  <div id="app1">
    <p><button v-on:click="show=!show">切り替え</button></p>
    <transition mode="out-in">
      <div v-if="show" key="a">TRUE</div>
      <div v-else key="b">FALSE</div>
    </transition>
  </div>

  <div id="app2">
    <p><button v-on:click="count++">切り替え</button></p>
    <transition>
      <div v-bind:key="count">{{ count }}</div>
    </transition>
  </div>

  <div id="app3">
    <p><button v-on:click="order=!order">切り替え</button></p>
    <!-- transition-groupタグに指定した属性はラップ要素に付与される -->
    <transition-group tag="ul" class="list">
      <li v-for="item in sortedList" v-bind:key="item.id">
        {{ item.name }} {{ item.price }}円
      </li>
    </transition-group>
  </div>

  <div id="app4">
    <p>
      <button v-on:click="doShuffle">シャッフル</button>
      <button v-on:click="doAdd">追加</button>
    </p>
    <transition-group tag="ul" class="list">
      <li v-for="(item, index) in list" v-bind:key="item" class="item" v-on:click="doRemove(index)">{{ item }}</li>
    </transition-group>
  </div>

  <div id="app5">
    <button v-on:click="toggle=!toggle">切り替え</button>
    <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
      <!-- SVGのパーツにトランジションを適用 -->
      <transition>
        <my-circle v-bind:fill="fill" v-bind:key="fill"></my-circle>
      </transition>
    </svg>
  </div>

  <script src="../js/vue.js" charset="utf-8"></script>
  <script src="../js/axios.js" charset="utf-8"></script>
  <script src="../js/lodash.min.js" charset="utf-8"></script>

  <script src="main.js" charset="utf-8"></script>
</body>

</html>
