<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>まずはデータを表示</title>
</head>

<body>
  <header>

  </header>
  <div class="main" id="main">
    <div class="left">
      <li v-for="form in data_list" v-on:click="clickItem(form.id)">No.{{form.id}}{{form.value}}</li>
    </div>
    <div class="right">
      <input type="text" v-bind:value="title">
      <input type="text" v-for="(form, index) in form_list" v-model="form.value">
      <input type="button" v-bind:value="edit_value" v-on:click="valueGather">
      <input type="button" v-bind:value="delete_value" v-on:click="ApiDelete">
    </div>
  </div>



  <script src="../js/vue.js" charset="utf-8"></script>
  <script src="../js/axios.js" charset="utf-8"></script>
  <script src="../js/lodash.min.js" charset="utf-8"></script>

  <script src="main.js" charset="utf-8"></script>
</body>

</html>
